<div class="o-page">
    <side-menu></side-menu>
     <main class="o-page__content">
       <top-menu></top-menu>
       <div class="container" style="max-width: 96%;">
         <div class="row">
           <div class="col-md-4">
             <div class="c-state-card c-state-card--info">
               <h4 class="c-state-card__title">All Active Subscriptions</h4>
               <span class="c-state-card__number">{{all}}</span>
               <p class="c-state-card__status">
                 <i class="feather icon-trending-up"></i> {{customerChange}}% increase since last week
               </p>
             </div>
           </div>

           <div class="col-md-4">
             <div class="c-state-card c-state-card--success">
               <h4 class="c-state-card__title">Active</h4>
               <span class="c-state-card__number">{{active}}</span>
               <p class="c-state-card__status">
                 <i class="feather icon-trending-down"></i> --
               </p>
             </div>
           </div>

           <div class="col-md-4">
             <div class="c-state-card c-state-card--fancy">
               <h4 class="c-state-card__title">Revenue</h4>
               <span class="c-state-card__number">$45,000</span>
               <p class="c-state-card__status">
                 <i class="feather icon-trending-up"></i> 65% Increase
               </p>
             </div>
           </div>
           
         </div>

         <div #alertContainer></div>

         <br>
         <div class="row">
           <div class="col-12">
             <div class="c-table-responsive@wide">
               <table class="c-table" id="myTable">
                 <thead class="c-table__head">
                   <tr class="c-table__row">
                    <th class="c-table__cell c-table__cell--head">Domain Name</th>
                    <th class="c-table__cell c-table__cell--head">Subscriber</th>
                    <th class="c-table__cell c-table__cell--head">Setup Date</th>
                    <th class="c-table__cell c-table__cell--head">Expiry Date</th>
                    <th class="c-table__cell c-table__cell--head">Disk Usage</th>
                    <th class="c-table__cell c-table__cell--head">Traffic</th>
                    <th class="c-table__cell c-table__cell--head">Action</th>
                   </tr>
                 </thead>

                 <tbody>
                   <tr *ngFor="let domain of domains; let i = index" class="c-table__row">
                    <td class="c-table__cell">{{domain.domainName}}</td>
                          <td class="c-table__cell"><a href="#" class="hidden-link">{{domain.subscriber}}</a></td>
                          <td class="c-table__cell">{{showDate(domain.createdAt)}}</td>
                          <td class="c-table__cell">{{showDate(domain.expiry)}}</td>
                          <td class="c-table__cell">-- MB</td>
                          <td class="c-table__cell">-- MB/month</td>
                          <td class="c-table__cell">
                            <div class="c-dropdown dropdown">
                              <button class="c-btn c-btn--info c-btn--small has-icon dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <i class="feather icon-chevron-down"></i></button>
                              <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="c-dropdown__item dropdown-item" href="#">Preview Domain</a>
                                <a class="c-dropdown__item dropdown-item" href="#">Suspend</a>
                                <a class="c-dropdown__item dropdown-item" href="#">Disable</a>
                                <a class="c-dropdown__item dropdown-item" href="#">Activate</a>
                                <a class="c-dropdown__item dropdown-item" href="#">Delete</a>
                              </div>
                          </div>
                        </td>
                   </tr>
                 </tbody>
               </table>
             </div>

             <div class="table-paginate">
               <div *ngIf="totalPages > 0;">
                   <ul class="c-pagination u-mb-medium">
           
                       <div *ngIf="currentPage != 1;">
                           <li>
                               <a [routerLink]="['/domains']" [queryParams]="{_navigate: currentPage - 1}" class="c-pagination__link">
                                   <i class="feather icon-chevron-left"></i>
                               </a>
                           </li>
                       </div>
           
                       <div *ngIf="currentPage != totalPages;">
                           <li>
                               <a [routerLink]="['/domains']" [queryParams]="{_navigate: currentPage + 1}" class="c-pagination__link">
                                   <i class="feather icon-chevron-right"></i>
                               </a>
                           </li>
                       </div>
                   </ul>
               </div>
           </div>

           </div>
         </div>
         
         
       </div>
     </main>
   </div>
