<div class="o-page__sidebar js-page-sidebar">
    <aside class="c-sidebar">
        <div class="c-sidebar__brand">
            <a href="#">
                <img src="assets/img/logo.svg" alt="Neat">
            </a>
        </div>

        <!-- Scrollable -->
        <div class="c-sidebar__body">
            <span class="c-sidebar__title">Dashboard</span>
            <ul class="c-sidebar__list">
                <li>
                    <a class="c-sidebar__link" [routerLink]="['/dashboard']">
                        <i class="c-sidebar__icon feather icon-home"></i>Control Center
                    </a>
                </li>
            </ul>

            <span class="c-sidebar__title">General</span>
            <ul class="c-sidebar__list">
                <li>
                    <a class="c-sidebar__link" [routerLink]="['/domains']">
                        <i class="c-sidebar__icon feather icon-globe"></i>Domains
                    </a>
                </li>
                <li>
                    <a class="c-sidebar__link" [routerLink]="['/subscriptions']">
                        <i class="c-sidebar__icon feather icon-globe"></i>Subscriptions
                    </a>
                </li>
                <li>
                    <a class="c-sidebar__link" [routerLink]="['/tld-management']">
                        <i class="c-sidebar__icon feather icon-shopping-cart"></i>TLD Manager
                    </a>
                </li>
                <li>
                    <a class="c-sidebar__link" [routerLink]="['/customers']" >
                        <i class="c-sidebar__icon feather icon-users"></i>Customers
                    </a>
                </li>
                 <li class="c-sidebar__item" >
                    <a class="c-sidebar__link" [routerLink]="['/admins']">
                        <i class="c-sidebar__icon feather icon-user"></i>Admins
                    </a>
                  
                </li>
            </ul>
        </div>


        <a class="c-sidebar__footer" href="#">
            Logout
            <i class="c-sidebar__footer-icon feather icon-power"></i>
        </a>
    </aside>
</div>