<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div #content class="modal-body">
    <div role="document"> 

        <div class="c-modal__content">
            <div class="c-modal__body">

                <h3 class="u-mb-small">Are you sure you want to delete this customer, this will remove records on Plesk and Reseller club</h3>

                
                    <div class="o-line">
                        <button #deleteButton style="margin: auto; width: 50%;" (click)="deleteCustomer();" #submitButton href="#" class="c-btn c-btn--info">Confirm</button>
                    </div>
            </div>
        </div>
        <!-- // .c-modal__content -->
    </div>
</div>