    <div class="o-page">
     <side-menu></side-menu>
      <main class="o-page__content">
        <top-menu></top-menu>
        <div class="container" style="max-width: 96%;">
          <div class="row">
            <div class="col-md-4">
              <div class="c-state-card c-state-card--info">
                <h4 class="c-state-card__title">Customers</h4>
                <span class="c-state-card__number">{{customerCount}}</span>
                <p class="c-state-card__status">
                  <i class="feather icon-trending-up"></i> {{customerChange}}% increase since last week
                </p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="c-state-card c-state-card--success">
                <h4 class="c-state-card__title">Domains</h4>
                <span class="c-state-card__number">60</span>
                <p class="c-state-card__status">
                  <i class="feather icon-trending-down"></i> 12% Decrease
                </p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="c-state-card c-state-card--fancy">
                <h4 class="c-state-card__title">Revenue</h4>
                <span class="c-state-card__number">$45,000</span>
                <p class="c-state-card__status">
                  <i class="feather icon-trending-up"></i> 65% Increase
                </p>
              </div>
            </div>
            
          </div>

          <div #alertContainer></div>

          <div class="row">
            <div class="col-12">
              <a [routerLink]="['/customers/create']"  class="c-btn m-b-30 c-btn--success"><i class="feather icon-user-plus"></i>&nbsp;&nbsp;Add New Customer</a>

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <div class="c-table-responsive@wide">
                <table class="c-table" id="myTable">
                  <thead class="c-table__head">
                    <tr class="c-table__row">
                      <th class="c-table__cell c-table__cell--head">Customer</th>
                      <th class="c-table__cell c-table__cell--head">Phone No</th>
                      <th class="c-table__cell c-table__cell--head">Date Joined</th>
                      <th class="c-table__cell c-table__cell--head">User Type</th>
                      <th class="c-table__cell c-table__cell--head">Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let customer of customers; let i = index" class="c-table__row">
                      <td class="c-table__cell">
                        <div class="o-media">
                          <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--small">
                              <img class="c-avatar__img" src="http://via.placeholder.com/72" alt="Jessica Alba">
                            </div>
                          </div>
                          <div class="o-media__body">
                            <h6>{{customer.firstName}} {{customer.lastName}}</h6>
                            <p>{{customer.email}}</p>
                          </div>
                        </div>
                      </td>
                      <td class="c-table__cell">{{customer.phone}}</td>
                      <td class="c-table__cell">{{showDate(customer.created)}}</td>
                      <td class="c-table__cell">
                        <a class="c-badge c-badge--small c-badge--info" href="#">SME</a>
                        <a class="c-badge c-badge--small c-badge--info" href="#">ui</a>
                        <a class="c-badge c-badge--small c-badge--fancy" href="#">ux</a>
                      </td>
                      <td class="c-table__cell">
                        <div class="c-dropdown dropdown">
                          <a href="#" class="c-btn c-btn--info c-btn--small has-icon dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <i class="feather icon-chevron-down"></i>
                          </a>

                          <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" attr.aria-labelledby="dropdownMenuTable{{i}}" >
                            <a class="c-dropdown__item dropdown-item" [routerLink]="['/customer/profile',customer.id]">View Profile</a>
                            <a class="c-dropdown__item dropdown-item" (click)="openModal(customer.id)" >Delete User</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="table-paginate">
                <div *ngIf="totalPages > 0;">
                    <ul class="c-pagination u-mb-medium">
            
                        <div *ngIf="currentPage != 1;">
                            <li>
                                <a [routerLink]="['/customers']" [queryParams]="{_navigate: currentPage - 1}" class="c-pagination__link">
                                    <i class="feather icon-chevron-left"></i>
                                </a>
                            </li>
                        </div>
            
                        <div *ngIf="currentPage != totalPages;">
                            <li>
                                <a [routerLink]="['/customers']" [queryParams]="{_navigate: currentPage + 1}" class="c-pagination__link">
                                    <i class="feather icon-chevron-right"></i>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

            </div>
          </div>
          
          
        </div>
      </main>
    </div>
