<div class="o-page o-page--center">
    <div class="o-page__card">
        <div class="c-card c-card--center">
            <span class="c-icon c-icon--large u-mb-small" style="background: #2176FF;">
                <img src="assets/img/logo-small.svg" alt="Neat">
            </span>

            <h4 class="u-mb-medium">
                <b>{{ title }}</b>
            </h4>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

                <div #alertContainer></div>

                <div class="c-field">
                    <label class="c-field__label">Email Address</label>
                    <input class="c-input u-mb-small" name="email" type="email" placeholder="" ngModel required>
                </div>

                <div class="c-field">
                    <label class="c-field__label">Password</label>
                    <input class="c-input u-mb-small" name="password" type="password" placeholder="" ngModel required>
                </div>

                <button #loginButton class="c-btn c-btn--fullwidth c-btn--info u-mb-medium">Login</button>

                <a [routerLink]="['/reset/initiate']" >Forgot Password?</a>

            </form>
        </div>
    </div>
</div>
<li>