<div class="o-page o-page--center">
    <div class="o-page__card">
        <div class="c-card c-card--center">
            <span class="c-icon c-icon--large u-mb-small" style="background: #2176FF;">
                <img src="assets/img/logo-small.svg" alt="Neat">
            </span>

            <h4 class="u-mb-medium">Reset Password</h4>
            <form #changeForm="ngForm" (ngSubmit)="onSubmit(changeForm)">

                <div #alertContainer></div>

                <div class="c-field">
                    <label class="c-field__label">Enter Current Password</label>
                    <input class="c-input u-mb-small" name="currentPassword" type="password" placeholder="" ngModel>
                </div>

                <div class="c-field">
                    <label class="c-field__label">Enter New Password</label>
                    <input class="c-input u-mb-small" name="newPassword" type="password" placeholder="" ngModel>
                </div>

                <div class="c-field">
                    <label class="c-field__label">Confirm Password</label>
                    <input class="c-input u-mb-small" name="confirmPassword" type="password" placeholder="" ngModel>
                </div>

                <button #submitButton class="c-btn c-btn--fullwidth c-btn--info">Submit</button>
            </form>
        </div>
    </div>
</div>