

    <div class="o-page">
        <side-menu></side-menu>
      <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
          <button class="c-sidebar-toggle js-sidebar-toggle">
            <i class="feather icon-align-left"></i>
          </button>

          <h2 class="c-navbar__title">TLD Management</h2>

          <div class="c-dropdown dropdown u-mr-small">
            <div class="c-notification dropdown-toggle" id="dropdownMenuToggle1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <i class="c-notification__icon feather icon-message-circle"></i>
            </div>

            <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuToggle1">
            </div>
          </div>

          <div class="c-dropdown dropdown u-mr-medium">
            <div class="c-notification has-indicator dropdown-toggle" id="dropdownMenuToggle2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <i class="c-notification__icon feather icon-bell"></i>
            </div>

            <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuToggle2"></div>
          </div>

          <div class="c-dropdown dropdown">
            <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <img class="c-avatar__img" src="http://via.placeholder.com/72" alt="Adam Sandler">
            </div>

            <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
              <a class="c-dropdown__item dropdown-item" href="#">Edit Profile</a>
              <a class="c-dropdown__item dropdown-item" href="#">View Activity</a>
              <a class="c-dropdown__item dropdown-item" href="#">Log out</a>
            </div>
          </div>
        </header>

         <div class="container" style="max-width: 97%;">
          <div class="row">
            <div class="col-md-4">
              <div class="c-state-card c-state-card--info">
                <h4 class="c-state-card__title">All TLDs</h4>
                <span class="c-state-card__number">{{tldCount}}</span>
                
              </div>
            </div>

            <div class="col-md-4">
              <div class="c-state-card c-state-card--success">
                <h4 class="c-state-card__title">Active TLDs</h4>
                <span class="c-state-card__number">{{activeTlds}}</span>
                
              </div>
            </div>

            <div class="col-md-4">
              <div class="c-state-card c-state-card--fancy">
                <h4 class="c-state-card__title">Inactive TLDs</h4>
                <span class="c-state-card__number">{{tldCount-activeTlds}}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <a href="create-account.html" class="c-btn m-b-10 c-btn--success addTLD" data-toggle="modal" data-target="#addTLD"><i class="feather icon-globe"></i>&nbsp;&nbsp;New TLD</a>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <br/>
              <div class="c-table-resposnive">
                <table class="c-table" id="myTable">
                  <thead class="c-table__head">
                      <tr class="c-table__row">
                          <th class="c-table__cell c-table__cell--head">TLD</th>
                          <th class="c-table__cell c-table__cell--head">Dollars</th>
                          <th class="c-table__cell c-table__cell--head">Naira</th>
                          <th class="c-table__cell c-table__cell--head">Discount</th>
                          <th class="c-table__cell c-table__cell--head">Active</th>
                          <th class="c-table__cell c-table__cell--head">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                     
                      <tr *ngFor="let tld of tlds; let i = index" class="c-table__row">
                          <td class="c-table__cell">{{tld.tld}}</td>
                          <td class="c-table__cell">${{tld.dollarPrice}}</td>
                          <td class="c-table__cell">{{tld.price}}</td>
                          <td class="c-table__cell">{{tld.currentDiscount}}%</td>
                          <td class="c-table__cell"><a class="c-badge c-badge--small c-badge--success" href="#">Active</a></td>
                          
                          <td class="c-table__cell">
                            <div class="c-dropdown dropdown">
                              <button class="c-btn c-btn--info c-btn--small has-icon dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <i class="feather icon-chevron-down"></i></button>
                              <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="c-dropdown__item dropdown-item" (click)="edit(i)" data-toggle="modal" data-target="#disableTLD">Disable</a>
                                <a class="c-dropdown__item dropdown-item" (click)="edit(i)" data-toggle="modal" data-target="#editTLD">Edit</a>
                                <!--<a class="c-dropdown__item dropdown-item" data-toggle="modal" data-target="#delTLD">Delete</a>-->
                              </div>
                          </div>
                        </td>
                      </tr>

                      
                  </tbody>
                </table>
              </div>
            </div>
           
          </div>

          
        </div>
      </main>
    </div>

    

    <!-- Add TLD -->
    <div class="c-modal modal fade" id="addTLD" tabindex="-1" role="dialog" aria-labelledby="modal2">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">
                <div class="c-modal__body">
                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                        <i class="feather icon-x"></i>
                    </span>
                    <h3 class="u-mb-small">New TLD</h3>
                    
                    <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">

                      <div #alertContainer></div>

                      <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="user-name">TLD</label>
                        <input class="c-input" type="text" id="user-name" name="tld" ngModel >
                      </div>

                      <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="user-name">Dollar Price</label>
                        <input class="c-input" type="text" id="user-name" name="dollarPrice" ngModel >
                      </div>

                      <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="user-name">Naira Price</label>
                        <input class="c-input" type="text" id="user-name" name="price" ngModel >
                      </div>

                      <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="user-name">Discount</label>
                        <input class="c-input" type="text" id="user-name" name="discount" ngModel >
                      </div>

                     

                      <div class="o-line">
                        <button #submitButton class="c-btn c-btn--info c-btn--fullwidth">Add</button>
                      </div>
                    </form>
                </div>
            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div><!-- // .c-modal -->


    <!-- Edit TLD -->
    <div class="c-modal modal fade" id="editTLD" tabindex="-1" role="dialog" aria-labelledby="modal2">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">
                <div class="c-modal__body">
                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                        <i class="feather icon-x"></i>
                    </span>
                    <h3 class="u-mb-small">Edit TLD</h3>
                    
                    <form #editForm="ngForm" (ngSubmit)="onSubmitEdit(editForm)">

                      <div #editContainer></div>

                      <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="user-name">TLD</label>
                        <input class="c-input" type="text" id="user-name" name="tld" [(ngModel)]="tldEdit.tld">
                      </div>

                      <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="user-name">Dollar Price</label>
                        <input class="c-input" type="text" id="user-name" name="dollarPrice" [(ngModel)]="tldEdit.dollarPrice">
                      </div>

                      <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="user-name">Naira Price</label>
                        <input class="c-input" type="text" id="user-name" name="price" [(ngModel)]="tldEdit.price">
                      </div>

                      <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="user-name">Discount</label>
                        <input class="c-input" type="text" name="discount" [(ngModel)]="tldEdit.currentDiscount">
                      </div>

                     

                      <div class="o-line">
                          <button #editButton class="c-btn c-btn--info c-btn--fullwidth">Edit</button>
                      </div>
                    </form>
                </div>
            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div><!-- // .c-modal -->


     <!-- Disable TLD -->
    <div class="c-modal modal fade show" id="disableTLD" tabindex="-1" role="dialog" aria-labelledby="modal1">
      <div class="c-modal__dialog modal-dialog" role="document">
          <div class="modal-content">
              <div class="c-card u-p-medium u-mh-auto" style="max-width:500px;">
                  <h3 class="u-mb-small">Disable TLD</h3>
                  <p class="u-text-mute u-mb-medium">Are you sure you want to disable the .{{tldEdit.tld}} tld?</p>

                  <div #disableContainer></div>

                  <div class="o-line">
                    <a href="#" class="c-btn c-btn--info c-btn--outline" data-dismiss="modal">Cancel</a>
                    <button (click)="disable()" #disableButton class="c-btn c-btn--danger">Disable</button>
                  </div>
              </div>
          </div>
      </div>
  </div>


   <!-- Delete TLD -->
   <!-- <div class="c-modal modal fade show" id="delTLD" tabindex="-1" role="dialog" aria-labelledby="modal1">
      <div class="c-modal__dialog modal-dialog" role="document">
          <div class="modal-content">
              <div class="c-card u-p-medium u-mh-auto" style="max-width:500px;">
                  <h3 class="u-mb-small">Delete TLD</h3>
                  <p class="u-text-mute u-mb-medium">Are you sure you want to delete this TLD?</p>

                  <div class="o-line">
                    <a href="#" class="c-btn c-btn--info c-btn--outline" data-dismiss="modal">Cancel</a>
                    <a href="#" class="c-btn c-btn--danger">Delete</a>
                  </div>
              </div>
          </div>
      </div>
  </div>-->

 