<div class="o-page o-page--center">
    <div class="o-page__card">
        <div class="c-card c-card--center">
            <span class="c-icon c-icon--large u-mb-small" style="background: #2176FF;">
                <img src="assets/img/logo-small.svg" alt="Neat">
            </span>

            <h4 class="u-mb-medium">Forgot Your Password</h4>
            <form #requestResetForm="ngForm" (ngSubmit)="onSubmit(requestResetForm)">
                <div class="c-field">
                    <label class="c-field__label">Email Address</label>
                    <input class="c-input u-mb-small"  name="email" type="email" placeholder="e.g. adam@sandler.com" ngModel>
                </div>

                <div #alertContainer></div>
                <div #successContainer></div>

                <div #posterContainer><button #submitButton class="c-btn c-btn--fullwidth c-btn--info">Submit</button></div>
            </form>
        </div>
        <p class="text-center">
            <a [routerLink]="['/']">Return to login</a>
        </p>
    </div>
</div>

