<div class="o-page">
    <side-menu></side-menu>
    <main class="o-page__content">
      <top-menu></top-menu>
      <div class="container" style="max-width: 96%;">
        <div class="row">

          <div class="col-12">
            <ol class="c-breadcrumb u-mb-medium">
                <li class="c-breadcrumb__item"><a class="c-breadcrumb__link" href="#">User Management</a></li>
                <li class="c-breadcrumb__item">Admin Users</li>
            </ol>
          </div>

           <!--div class="col-12">
            <div class="c-alert c-alert--success u-mb-medium">
              <span class="c-alert__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
              </span>

             <div class="c-alert__content">
                <h4 class="c-alert__title" style="margin-bottom: 0;">New user added</h4>
                
              </div>
            </div>
          </div>-->

          <div class="col-12">
            <button class="c-btn m-b-30 c-btn--success addRole" data-toggle="modal" data-target="#addRole">Add New User</button>
            <br><br>
          </div>
        </div>

        <div class="row">
         
          <div *ngFor="let admin of admins; let i = index" class="col-sm-6 col-xl-3">
            <div class="c-card is-animated u-text-center">
              <div class="c-avatar u-inline-flex u-mb-small">
                <!--<img class="c-avatar__img" src="img/leke.jpg" alt="Leke">-->
              </div>
              <h4>{{admin.name}}</h4>
              <p class="u-pb-small u-mb-small u-border-bottom">{{admin.role.roleName}}<br><br><small>{{admin.email}}</small></p>
              

              <p class="u-h4">
                <button (click)="setEdit(i)"  class="c-btn c-btn--info c-btn--small c-btn--outline editUserRole" data-toggle="modal" data-target="#editUserRole">Edit Role</button>
                &nbsp;<button (click)="setDelete(i)"  class="c-btn c-btn--danger c-btn--small c-btn--outline delUser" data-toggle="modal" data-target="#delUser">Delete</button>
              </p>
            </div>
          </div>

        </div>
        
        <div class="row">
          <div class="col-12">
            <footer class="c-footer">
              <p>© 2018 Leanstack Systems</p>
              <span class="c-footer__divider">|</span>
              <nav>
                <a class="c-footer__link" href="#">Terms</a>
                <a class="c-footer__link" href="#">Privacy</a>
                <a class="c-footer__link" href="#">FAQ</a>
                <a class="c-footer__link" href="#">Help</a>
              </nav>
            </footer>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Add User Modal -->
  <div class="c-modal modal fade" id="addRole" tabindex="-1" role="dialog" aria-labelledby="modal2">
      <div class="c-modal__dialog modal-dialog" role="document">
          <div class="c-modal__content">
              <div class="c-modal__body">
                  <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                      <i class="feather icon-x"></i>
                  </span>

                  
                  <h3 class="u-mb-small">New Admin User</h3>
                  
                  <form #createForm="ngForm" (ngSubmit)="doSubmit(createForm)">

                    <div #alertContainer></div>

                    <div class="c-field u-mb-small">
                      <label class="c-field__label" for="user-name">Full Name</label>
                      <input class="c-input" type="text"  name="fullname" ngModel  id="user-name">
                    </div>

                    <div class="c-field u-mb-small">
                      <label class="c-field__label" for="user-name">Email Address</label>
                      <input class="c-input" type="text"  name="email" ngModel  id="user-name">
                    </div>

                    <div class="c-field u-mb-small">
                            <label class="c-field__label" for="user-name">Phone</label>
                            <input class="c-input" type="text"  name="phone" ngModel  id="user-name">
                    </div>

                     <!-- Normal Select -->
                    <div class="c-field u-mb-medium">
                      <label class="c-field__label" for="user-plan">Role</label>
                      <div class="c-select">
                        <select class="c-select__input" id="user-country" name="role" required>
                                <option *ngFor="let role of roles; let i = index" value="{{role.roleId}}">{{role.roleName}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="o-line">
                            <button #createButton class="c-btn c-btn--info c-btn--fullwidth">Create Admin</button>
                    </div>
                  </form>
                 </div> 
              </div>
          </div><!-- // .c-modal__content -->
      </div><!-- // .c-modal__dialog -->
  <!--</div><!-- // .c-modal -->

  <!-- Add User Modal -->
  <div class="c-modal modal fade" id="editUserRole" tabindex="-1" role="dialog" aria-labelledby="modal2">
      <div class="c-modal__dialog modal-dialog" role="document">
          <div class="c-modal__content">
              <div class="c-modal__body">
                  <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                      <i class="feather icon-x"></i>
                  </span>

                  
                  <h3 class="u-mb-small">Change User Role</h3>
                  
                  <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
                    <div #alertContainer></div>
                     <!-- Normal Select -->
                    <div class="c-field u-mb-medium">
                      <label class="c-field__label" for="user-plan">Role</label>
                      <div class="c-select">
                        <select class="c-select__input" id="user-country" name="role"  required>
                            <option *ngFor="let role of roles; let i = index" value="{{role.roleId}}">{{role.roleName}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="o-line">
                       <button #submitButton class="c-btn c-btn--info c-btn--fullwidth">Submit Change</button>
                    </div>
                  </form>
                 </div> 
              </div>
          </div><!-- // .c-modal__content -->
      </div><!-- // .c-modal__dialog -->
  <!--</div><!-- // .c-modal -->

  <!-- Mark Paid -->
  <div class="c-modal modal fade show" id="delUser" tabindex="-1" role="dialog" aria-labelledby="modal1">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="c-card u-p-medium u-mh-auto" style="max-width:500px;">
                <h3 class="u-mb-small">Delete {{toDeleteName}}</h3>
                <p class="u-text-mute u-mb-medium">Are you sure you want to delete this user?</p>

                <div class="o-line">
                  <a href="#" class="c-btn c-btn--info c-btn--outline" data-dismiss="modal">Cancel</a>
                  <button #deleteButton (click)="doDelete()" class="c-btn c-btn--danger">Submit Change</button>
                </div>
            </div>
        </div>
    </div>
</div>

