 <div class="o-page">
    <side-menu></side-menu>
      <main class="o-page__content">
        <top-menu></top-menu>

         <div class="container" style="max-width: 96%;">
          <div class="row">
            <div class="col-md-5">
              <div class="c-card">
                <div class="u-text-center">
                  <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                    <img class="c-avatar__img" src="http://via.placeholder.com/72" alt="Avatar">
                  </div>

                  <h5>{{firstname}} {{lastname}}</h5>
                  <p>Customer</p>
                </div>

                <span class="c-divider u-mv-small"></span>

                <span class="c-text--subtitle">Email Address</span>
                <p class="u-mb-small u-text-large">{{email}}</p>

                <span class="c-text--subtitle">Phone NUMBER</span>
                <p class="u-mb-small u-text-large">{{phone}}</p>

                <span class="c-text--subtitle">Address</span>
                <p class="u-mb-small u-text-large">{{address}}</p>

                
              </div>

              <!--<div class="c-card">
                <h4>Payments</h4>
                <p class="u-mb-medium">Add or remove a payout method</p>

                <div class="o-media u-mb-small">
                  <div class="o-media__img u-mr-xsmall">
                    <img src="img/paypal.svg" alt="PayPal">
                  </div>

                  <div class="o-media__body u-flex u-justify-between">
                    <p>adam@sandler.com</p>
                    <a class="u-text-small" href="#">Remove</a>
                  </div>
                </div>

                <div class="o-media u-mb-small">
                  <div class="o-media__img u-mr-xsmall">
                    <img src="img/stripe.svg" alt="Stripe">
                  </div>

                  <div class="o-media__body u-flex u-justify-between">
                    <p>adam@sandler.com</p>
                    <a class="u-text-small" href="#">Remove</a>
                  </div>
                </div>

                <div class="o-media">
                  <div class="o-media__img u-mr-xsmall">
                    <img src="img/bank.svg" alt="Bank">
                  </div>

                  <div class="o-media__body u-flex u-justify-between">
                    <p>xxxx-5623</p>
                    <a class="u-text-small" href="#">Remove</a>
                  </div>
                </div>

              </div>-->
            </div>

            <div class="col-md-7">
             
            <div *ngIf="messageFlag == 1;">
              <div class="c-alert c-alert--success u-mb-medium">
                <span class="c-alert__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                </span>
                <div class="c-alert__content">
                  <h4 class="c-alert__title" style="margin-bottom: 0;">{{responseMessage}}</h4>
                  
                </div>
              </div><!-- // .c-alert -->
            </div>

              <div *ngIf="messageFlag == 2;">

                  <div class="c-alert c-alert--danger u-mb-medium">
                      <span class="c-alert__icon">
                        <i class="feather icon-slash"></i>
                      </span>
        
                      <div class="c-alert__content">
                        <h4 class="c-alert__title" style="margin-bottom: 0;">{{responseMessage}}</h4>
                        
                      </div>
                    </div>
        
                
              </div>

              

              <nav class="c-tabs"> 
                <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                  <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Activity</a>
                  <a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                  <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-profile" aria-selected="false">Contact</a>
                  <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-domain" role="tab" aria-controls="nav-contact" aria-selected="false">Domains</a>
                  <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-plan" role="tab" aria-controls="nav-contact" aria-selected="false">Subscriptions</a>
                  <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-payment" role="tab" aria-controls="nav-contact" aria-selected="false">Payments</a>
                </div>
                <div class="c-tabs__content tab-content" id="nav-tabContent">
                  <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="c-feed">
                 
                  <div *ngFor="let activity of activities; let i = index" >
                   <div class="c-feed__item">
                    <div class="c-feed__item-content">
                      <h6 class="u-text-small">{{activity.activitySummary}}</h6>
                      <p>{{activity.activity}}</p>
                    </div>
                    <p class="u-text-xsmall">{{showDate(activity.date)}} {{showTime(activity.date)}}</p>
                  </div>
                  </div>

                  
                 
                </div><!-- // .c-feed -->
                  </div>


                  <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <form #updateProfileForm="ngForm" (ngSubmit)="profileSubmit(updateProfileForm)">
                      <div class="row">
                        <div class="col-xl-6">
                          <div class="c-field u-mb-medium">
                            <label class="c-field__label" for="user-name">First Name</label>
                            <input class="c-input" type="text" name="firstname" [(ngModel)]="firstname" id="user-name">
                          </div>

                          <div class="c-field u-mb-medium">
                            <label class="c-field__label" for="user-name">Last Name</label>
                            <input class="c-input" type="text" name="lastname" [(ngModel)]="lastname" id="user-name">
                          </div>

                          
                          <!--<div class="c-field u-mb-medium">
                            <label class="c-field__label" for="user-phone">Username</label>
                            <input class="c-input" type="text" name="lastName" [(ngModel)]="username" id="user-phone">
                          </div>-->
                        </div>

                        <div class="col-xl-6">

                          <div class="c-field u-mb-medium">
                              <label class="c-field__label" for="user-email">Email Address</label>
                              <input class="c-input" type="text" name="email" [(ngModel)]="email" id="user-email">
                          </div>
                          
                          <div class="c-field u-mb-medium">
                            <label class="c-field__label" for="user-phone">Phone Number</label>
                            <input class="c-input" type="tel" name="phone" [(ngModel)]="phone" id="user-phone">
                          </div>
                          
                        </div>
                      </div>
                      
                      <span class="c-divider u-mv-medium"></span>

                      <div class="row">
                        <div class="col-12 col-sm-7 col-xl-4 u-mr-auto u-mb-xsmall">
                          <button #submitProfileButton class="c-btn c-btn--info c-btn--fullwidth">Save Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="c-tabs__pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <form #updateContactForm="ngForm" (ngSubmit)="contactSubmit(updateContactForm)">


                    <div class="row">
                      <div class="col-xl-6">
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-name">Address</label>
                          <input class="c-input" type="text" id="user-name" name="address" [(ngModel)]="address" required>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-email">State</label>
                          <input class="c-input" type="text" id="user-email" name="state" [(ngModel)]="state" required>
                        </div>
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-phone">Postcode</label>
                          <input class="c-input" type="text" id="user-phone" name="postcode" [(ngModel)]="postcode" required>
                        </div>

                       
                      </div>

                      <div class="col-xl-6">
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-name">City</label>
                          <input class="c-input" type="text" id="user-name" name="city" [(ngModel)]="city" required>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-country">Country</label>
                          <div class="c-select">
                              <select class="c-select__input" id="user-country" name="country" [(ngModel)]="country" required>
                                <option  value="NG">Nigeria</option>
                                <option *ngFor="let country of countries; let i = index" value="{{country.phonecode}}">{{country.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-4">
                      </div>
                    </div>

                      <span class="c-divider u-mv-medium"></span>

                      <div class="row">
                        <div class="col-12 col-sm-7 col-xl-4 u-mr-auto u-mb-xsmall">
                          <button #submitContactButton  class="c-btn c-btn--info c-btn--fullwidth">Save Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="c-tabs__pane" id="nav-domain" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <!-- Button trigger modal -->
                    <button type="button" class="c-btn c-btn--small c-btn--info addDomain" data-toggle="modal" data-target="#addDomain">
                      Add Domain
                    </button>
                    <br/><br/>

                    <table class="c-table">
                      <thead class="c-table__head">
                          <tr class="c-table__row">
                              <th class="c-table__cell c-table__cell--head">Domain Name</th>
                              <th class="c-table__cell c-table__cell--head">Setup Date</th>
                              <th class="c-table__cell c-table__cell--head">Expiry Date</th>
                              <th class="c-table__cell c-table__cell--head">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let domain of domains; let i = index" class="c-table__row">
                              <td class="c-table__cell">{{domain.domainName}}</td>
                              <td class="c-table__cell">{{showDate(domain.createDate)}}</td>
                              <td class="c-table__cell">{{showDate(domain.expiryDate)}}</td>
                              <td class="c-table__cell"><button class="c-btn c-btn--info c-btn--small">Renew</button></td>
                          </tr>
                         
                      </tbody>
                    </table>
                  </div>

                  <div class="c-tabs__pane" id="nav-plan" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <!-- Button trigger modal -->
                    <button type="button" class="c-btn c-btn--small c-btn--info addHosting" data-toggle="modal" data-target="#addHosting">
                      Add Hosting Plan
                    </button>
                    <br/><br/>

                    <table class="c-table">
                      <thead class="c-table__head">
                          <tr class="c-table__row">
                              <th class="c-table__cell c-table__cell--head">Plan Name</th>
                              <th class="c-table__cell c-table__cell--head">Domain Name</th>
                              <th class="c-table__cell c-table__cell--head">Setup Date</th>
                              <th class="c-table__cell c-table__cell--head">Expiry Date</th>
                              <th class="c-table__cell c-table__cell--head">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let domain of hostings; let i = index" class="c-table__row">
                              <td class="c-table__cell">{{domain.planName}}</td>
                              <td class="c-table__cell">{{domain.domainName}}</td>
                              <td class="c-table__cell">{{showDate(domain.createDate)}}</td>
                              <td class="c-table__cell">{{showDate(domain.expiryDate)}}</td>
                              <td class="c-table__cell"><button class="c-btn c-btn--info c-btn--small">Renew</button></td>
                          </tr>
                          
                      </tbody>
                    </table>
                  </div>

                  <div class="c-tabs__pane" id="nav-payment" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <!-- Button trigger modal -->
                    <table class="c-table">
                      <thead class="c-table__head">
                          <tr class="c-table__row">
                              <th class="c-table__cell c-table__cell--head">Date</th>
                              <th class="c-table__cell c-table__cell--head">Payment</th>
                              <th class="c-table__cell c-table__cell--head">Amount</th>
                              <th class="c-table__cell c-table__cell--head">Status</th>
                              <th class="c-table__cell c-table__cell--head">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let order of orders; let i = index" class="c-table__row">
                              <td class="c-table__cell">{{showDate(order.date)}}</td>
                              <td class="c-table__cell">{{order.description}}</td>
                              <td class="c-table__cell">N{{order.amount}}</td>
                              <td class="c-table__cell"><span class="c-badge c-badge--{{transform(order.status)}}">{{order.status}}</span></td>
                              <td class="c-table__cell"><button class="c-btn c-btn--info c-btn--small markPaid" data-toggle="modal" data-target="#markPaid">Resolve</button></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <footer class="c-footer">
                <p>© 2018 Leanstack Systems</p>
                <span class="c-footer__divider">|</span>
                <nav>
                  <a class="c-footer__link" href="#">Terms</a>
                  <a class="c-footer__link" href="#">Privacy</a>
                  <a class="c-footer__link" href="#">FAQ</a>
                  <a class="c-footer__link" href="#">Help</a>
                </nav>
              </footer>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Add Domain Modal -->
    <div class="c-modal modal fade" id="addDomain" tabindex="-1" role="dialog" aria-labelledby="modal2">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">
                <div class="c-modal__body">
                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                        <i class="feather icon-x"></i>
                    </span>

                    
                    <h3 class="u-mb-small">Add Domain</h3>
                    
                    <form #domainForm="ngForm" (ngSubmit)="onSubmitDomain(domainForm)">

                        <div #domainAlertContainer></div>

                        <div class="c-field u-mb-small">
                          <label class="c-field__label" for="user-name">Domain Name</label>
                          <input class="c-input" type="text" id="user-name" name="domain" ngModel><br>

                          <label class="c-field__label" for="user-name">Payment Reference</label>
                          <input class="c-input" type="text" id="user-name" name="reference" ngModel><br>

                          <label class="c-field__label" for="user-name">Payment Channel</label>
                          <div class="c-select">
                              <select class="c-select__input" id="user-country" name="channel" ngModel required>
                                <option>Paystack</option><option>Wallet</option>
                              </select>
                            </div><br>


                          <label class="c-field__label" for="user-country">Duration</label>
                          <div class="c-select">
                            <select class="c-select__input" id="user-country" name="duration" ngModel required>
                              <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>
                            </select>
                          </div>
                          <small class="c-field__message u-color-success">
                            <i class="feather icon-check-circle"></i>{{available}}
                         </small>

                         <!-- <small class="c-field__message u-color-danger">
                            <i class="feather icon-x-circle"></i>Domain is not available
                        </small> -->
                        </div>

                        <div class="clearfix">
                          <div class="c-choice c-choice--checkbox push-left u-mb-medium">
                            <input class="c-choice__input" id="checkbox1" name="whois" type="checkbox" ngModel>
                            <label class="c-choice__label" for="checkbox1">Add WHOIS data protection</label>
                          </div>
                        </div>
                    
                        <div class="o-line">
                            <button #submitDomainButton class="c-btn c-btn--info c-btn--fullwidth">Provision Domain</button>
                        </div>
                    </form>
                </div>
            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div><!-- // .c-modal -->

    <!-- Add Hosting Modal -->
    <div class="c-modal modal fade" id="addHosting" tabindex="-1" role="dialog" aria-labelledby="modal2">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">
                <div class="c-modal__body">
                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                        <i class="feather icon-x"></i>
                    </span>

                    
                    <h3 class="u-mb-small">Add Hosting</h3>
                    
                    <form #hostingForm="ngForm" (ngSubmit)="onSubmitHosting(hostingForm)">

                        <div #hostingAlertContainer></div>
                        
                        <div class="c-field u-mb-xsmall">
                          <label class="c-field__label" for="user-name">Primary Domain</label>
                          <input class="c-input" type="text" id="user-name" name="domain" ngModel placeholder="www.domain.xyz">
                          <small class="c-field__message">
                            <i class="feather icon-info"></i>This is a required field
                        </small>
                        </div>

                        <!-- Normal Select -->
                        <div class="c-field u-mb-xsmall">
                          <label class="c-field__label" for="user-plan">Plan</label>
                          <div class="c-select">
                            <select  class="c-select__input" name="plan" ngModel id="user-plan">
                                <option *ngFor="let plan of plans; let i = index" value="{{i}}">{{plan.plan}}</option>
                            </select>
                          </div>
                        </div><br>

                        <div class="c-field u-mb-xsmall">
                          <label class="c-field__label" for="user-name">Payment Reference</label>
                          <input class="c-input" type="text" id="user-name" name="reference" ngModel><br>
                        </div>

                        <div class="c-field u-mb-xsmall">
                          <label class="c-field__label" for="user-name">Payment Channel</label>
                          <div class="c-select">
                              <select class="c-select__input" id="user-country" name="channel" ngModel required>
                                <option>Paystack</option><option>Wallet</option>
                              </select>
                          </div><br>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-plan">Duration</label>
                          <div class="c-select">
                            <select class="c-select__input" name="duration" ngModel id="user-plan">
                              <option value="1-MONTHLY">1 Month</option>
                              <option value="2-MONTHLY">2 Months</option>
                              <option value="3-MONTHLY">3 Months</option>
                              <option value="6-MONTHLY">6 Months</option>
                              <option value="1-YEARLY">1 Year</option>
                              <option value="2-YEARLY">2 Years</option>
                              <option value="3-YEARLY">3 Years</option>
                            </select>
                          </div>
                        </div>
                    

                    <div class="o-line">
                        <button #submitHostingButton class="c-btn c-btn--info c-btn--fullwidth">Provision Hosting</button>
                    </div>

                  </form>
                </div>
            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div><!-- // .c-modal -->

    <!-- Mark Paid -->
    <div class="c-modal modal fade show" id="markPaid" tabindex="-1" role="dialog" aria-labelledby="modal1">
      <div class="c-modal__dialog modal-dialog" role="document">
          <div class="modal-content">
              <div class="c-card u-p-medium u-mh-auto" style="max-width:500px;">
                  <h3 class="u-mb-small">Payment Resolution</h3>
                  <p class="u-text-mute u-mb-medium">Are you sure you want to mark this payment as paid</p>

                  <div class="o-line">
                    <a href="#" class="c-btn c-btn--info c-btn--outline" data-dismiss="modal">Cancel</a>
                    <a href="#" class="c-btn c-btn--info">Mark as paid</a>
                  </div>
              </div>
          </div>
      </div>
  </div>