

    <div class="o-page" ng-app = "" ng-controller = "DashboardComponent">
        
        <side-menu></side-menu>

        <main class="o-page__content">
           <top-menu></top-menu>

            <div class="container" style="max-width: 96%;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="c-state-card c-state-card--info">
                            <h4 class="c-state-card__title">Customers</h4>
                            <span class="c-state-card__number">{{customerCount}}</span>
                            <p class="c-state-card__status">
                                <i class="feather icon-trending-up"></i> {{customerChange}}% increase since last week
                            </p>

                            <div class="c-state-card__actions dropdown">
                                <span class="dropdown-toggle" id="dropdownMenuState1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                    <i class="feather icon-more-vertical"></i>
                                </span>

                                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuState1">
                                    <a class="c-dropdown__item dropdown-item" href="#">More Details</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="c-state-card c-state-card--success">
                            <h4 class="c-state-card__title">Domains</h4>
                            <span class="c-state-card__number">{{domainsCount}}</span>
                            <p class="c-state-card__status">
                                <i class="feather icon-trending-down"></i> {{domainsChange}}% Change since last week
                            </p>
                            <div class="c-state-card__actions dropdown">
                                <span class="dropdown-toggle" id="dropdownMenuState2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                    <i class="feather icon-more-vertical"></i>
                                </span>

                                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuState2">
                                    <a class="c-dropdown__item dropdown-item" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="c-state-card c-state-card--fancy">
                            <h4 class="c-state-card__title">Revenue</h4>
                            <span class="c-state-card__number"><span>&#8358;</span>{{financeCount}}</span>
                            <p class="c-state-card__status">
                                <i class="feather icon-trending-up"></i> {{financeChange}}% Increase
                            </p>
                            <div class="c-state-card__actions dropdown">
                                <span class="dropdown-toggle" id="dropdownMenuState3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                    <i class="feather icon-more-vertical"></i>
                                </span>

                                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuState3">
                                    <a class="c-dropdown__item dropdown-item" href="#">Link 1</a>
                                    <a class="c-dropdown__item dropdown-item" href="#">Link 2</a>
                                    <a class="c-dropdown__item dropdown-item" href="#">Link 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="c-card u-ph-zero u-pb-zero">

                            <div class="u-ph-medium">
                                <h4>Sales</h4>
                                <p>Activity from {{salesStart}} to {{salesEnd}}</p>

                                <span class="u-h1"><span>&#8358;</span>{{periodSales}}</span>
                            </div>

                            <canvas baseChart width="400" height="200" [datasets]="salesChartData" [labels]="salesChartLabels" [options]="lineChartOptions"
                                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" ></canvas>

                           

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="c-card u-ph-zero u-pb-zero">

                            <div class="u-ph-medium">
                                <h4>Expenses</h4>
                                <p>Activity from {{expensesStart}} to {{expensesEnd}}</p>

                                <span class="u-h1"><span>&#8358;</span>{{periodExpenses}}</span>
                            </div>

                        <canvas baseChart width="400" height="200" [datasets]="expensesChartData" [labels]="expensesChartLabels" [options]="lineChartOptions"
                            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"  ></canvas>


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="c-card" data-mh="dashboard3-cards">
                            <h4>New Signups</h4>
                            <p class="u-mb-medium">Most Recent Signups.</p>

                            <div *ngIf="customers.length > 0; else falsyTemplate">
                                <div *ngFor="let customer of customers; let i = index" class="o-line u-pb-small u-mb-small u-border-bottom">
                                    <div class="o-media">
                                        <div class="o-media__img u-mr-small">
                                            <div class="c-avatar c-avatar--xsmall">
                                                <img class="c-avatar__img" src="http://via.placeholder.com/72" alt="Name">
                                            </div>
                                        </div>
                                
                                        <div class="o-media__body">
                                            <h6>{{customer.firstName}} {{customer.lastName}}</h6>
                                            <p>{{customer.email}}</p>
                                        </div>
                                    </div>
                                
                                    <h6>{{getReadableDate(customer.createDate)}}
                                        <span class="u-color-success u-block">
                                            <i class="feather icon-calendar"></i>
                                        </span>
                                    </h6>
                                </div>
                            </div>

                            <ng-template #falsyTemplate>
                                  <p style="color:blue;">No Signups Yet</p>
                            </ng-template>



                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="c-card" data-mh="dashboard3-cards">
                            <h4>Hosting Plan Breakdown</h4>
                            <p class="u-mb-medium">Hosting Plan in Detail</p>

                            <div *ngFor="let freq of frequency; let i = index">
                            <p class="u-mb-xsmall">{{freq.plan}}</p>
                            <div class="c-progress c-progress--info c-progress--medium u-mb-small">
                                <div class="c-progress__bar" [ngStyle]="{'width': freq.noOfHosting+'%'}"></div> 
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="c-card" data-mh="dashboard3-cards">
                            <h4>Recent Activity</h4>
                            <p class="u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="c-feed">
                                <div class="c-feed__item">
                                    <p>New order received from Canada by #49832</p>
                                </div>

                                <div class="c-feed__item c-feed__item--success">
                                    <p>New order received from Canada by #49832</p>
                                </div>

                                <div class="c-feed__item">
                                    <p>New order received from Canada by #49832</p>
                                </div>

                                <div class="c-feed__item c-feed__item--danger">
                                    <p>New order received from Canada by #49832</p>
                                </div>
                            </div>
                            <!-- // .c-feed -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

