body, button, input, optgroup, select, textarea  {
	font-family: 'Karla', sans-serif;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.c-field {
	margin-bottom: 20px;
}

.c-input {
	border-radius: 3px;
}

.alert {
	position: relative;
	padding: .50rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	text-align: left;
	font-size: 14px;

	i {
		margin-right: 5px;
	}
}

.alert-no-border {
	border: none;
	background-color: #fff !important;
	padding-left: 0;
	margin-bottom: 0px;
}

.text-center {
	text-align: center;
}

.alert-danger {
	color: #f1556c;
	background-color: #fef0f2;
	border-color: #f9b3bd;
}

.alert-success {
	color: #0acf97;
	background-color: #f3fefb;
	border-color: #49f6c5;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 1.25rem 0 1.25rem 30px
}

table.dataTable thead th, table.dataTable thead td {
	padding: 1.25rem 18px;
	border-bottom: 1px solid #ecedf2;
}

.c-table__head .c-table__cell--head {
	padding: 15px 0 15px 30px;
}
 
.dataTables_filter input {
	margin-left: 0.5em;
	display: inline-block;
	width: auto;
}

.dataTables_length select {
	-webkit-appearance: none;
	padding: 7px;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		outline: none;
	}
}

.hidden-link {
	
	color: #768093;

	&:hover {
		color: #2083fe;
		// text-decoration: underline;
	}
}

.dataTables_filter input {
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-appearance: none;
	&:focus {
		outline: none;
	}
}

.m-b-30 {
	margin-bottom: 30px;
}

.c-select__input {
	margin-bottom: 15px;
}

tbody tr:nth-of-type(even) {
	background: #f4f6f9 !important;
}

.push-left {
	float: left;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	border: 1px solid #28c76f;
	background-color: #28c76f;
	outline: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 1px solid #28c76f;
	background-color: #28c76f;
	outline: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	background-color: #2083fe !important;
	outline: none !important;
}