

    <div class="o-page">
     <side-menu></side-menu>
      <main class="o-page__content">
        <top-menu></top-menu>

        <div class="container" style="max-width: 96%;">
          <div class="row">
            <div class="col-12">
              <nav class="c-tabs"> 
                <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                  <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    <span class="c-tabs__link-icon">
                      <i class="feather icon-settings"></i>
                    </span>Create Account
                  </a>
                </div>

                <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">

                    <div #alertContainer></div>

                <div class="c-tabs__content tab-content" id="nav-tabContent">
                  <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


                    <div class="row">
                      <div class="col-xl-4">
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-name">First Name</label>
                          <input class="c-input" type="text" id="user-name" name="firstname" ngModel required>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-email">Email Address</label>
                          <input class="c-input" type="text" id="user-email" name="email" ngModel required>
                        </div>
                        
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-phone">Username</label>
                          <input class="c-input" type="text" id="user-phone" name="username" ngModel required>
                        </div>
                      </div>

                      <div class="col-xl-4">
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-name">Last Name</label>
                          <input class="c-input" type="text" id="user-name" name="lastname" ngModel required>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-phone">Phone Number</label>
                          <input class="c-input" type="tel" id="user-phone" name="phone" ngModel required>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-phone">Password</label>
                          <input class="c-input" type="password" id="user-phone" name="password" ngModel required>
                        </div>
                        
                      </div>

                      <div class="col-xl-4">
                      </div>
                    </div>

                    <span class="c-divider u-mv-medium"></span>

                    <div class="row">
                      <div class="col-xl-4">
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-name">Address</label>
                          <input class="c-input" type="text" id="user-name" name="address" ngModel required>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-email">State</label>
                          <input class="c-input" type="text" id="user-email" name="state" ngModel required>
                        </div>
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-phone">Postcode</label>
                          <input class="c-input" type="text" id="user-phone" name="postcode" ngModel required>
                        </div>

                       
                      </div>

                      <div class="col-xl-4">
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-name">City</label>
                          <input class="c-input" type="text" id="user-name" name="city" ngModel required>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-country">Country</label>
                          <div class="c-select">
                            <select class="c-select__input" id="user-country" name="country" required>
                              <option  value="NG">Nigeria</option>
                              <option *ngFor="let country of countries; let i = index" value="{{country.phonecode}}">{{country.name}}</option>
                          </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-4">
                      </div>
                    </div>

                    <span class="c-divider u-mv-medium"></span>

                    <div class="row">
                      <div class="col-12 col-sm-7 col-xl-2 u-mr-auto u-mb-xsmall">
                        <button #submitButton class="c-btn c-btn--info c-btn--fullwidth">Create Account</button>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
              </nav>
            </div>
          </div>
        </div>
      </main>
    </div>

   